@font-face {
    font-family: "RobotoRegular";
    src: url(fonts/Roboto-Regular.ttf); format: ("truetype");
}
@font-face {
    font-family: "RobotoLightItalic";
    src: url(fonts/Roboto-LightItalic.ttf); format: ("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
}
.top-navigation-bar {
    background-color: #FF0000 /*#1F2937*/;
}
.top-navigation-bar {
    display: flex;
    justify-content: center;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.top-navigation-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.first-container {
    padding: 50px 0;
    background-color: #1F2937;
    color: #F9FAF8;
}
.img-placeholder-container {
    display: inline-block;
    width: 500px;
    height: 250px;
    background-color: #6D747D;
}
.placeholder-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-container h2 {
    padding: 30px 0;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    font-weight: bold;
}


.small-container-block {
    background-color: #FF0000;
}
.small-container {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.small-container-text {
    background-color: #777;
    display: block;
    width: 100px;
    height: 100px;
}


.third-container {
    background-color: #E5E7EB;
    color: #000;
    
}
.blockquote-text {
    padding: 0 25%; /*change % to px*/
    padding-top: 7%; /*change % to px*/
    color: #1F2937;
    font-size: 36px;    
    font-family: "RobotoLightItalic"; 
}
span.blockquote-author {
    font-size: 20px;
}
.blockquote-author {
    padding-right: 5%; /*change % to px*/   
    padding-bottom: 10%; /*change % to px*/
    display: block;
    text-align: right;
}
.fourth-container {
    margin: 5% 12%; /*change % to px*/
    padding: 20px 40px;
    width: 75%;
    background-color: #3882F6;
    border-radius: 20px;
    color: #FFF;
}
.bottom-signup-button {
    padding: 5px 20px;
}
.fourth-container, .bottom-signup-button {
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #F9FAF8;
    background-color: #3882F6;
}
footer {
    padding: 10px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    text-align: center;
    font-family: "RobotoRegular";
}