@font-face {
    font-family: 'RobotoExtraBold';
    src: url(fonts/Roboto-Bold.ttf); format: ('truetype');
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden !important;
}