@font-face {
    font-family: 'Roboto Regular';
    src: url(fonts/Roboto-Regular.ttf); format: ('truetype');
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden !important;
}
footer {
    padding: 10px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 12px;
    text-align: center;
    font-family: 'Roboto Regular', Arial, sans-serif;
}