@font-face {
    font-family: "SedgwickAveDisplay Regular";
    src: url(fonts/SedgwickAveDisplay-Regular.ttf); format: ("truetype");
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
}
.landing-page-image {
    height: 100vh;
    background-image: url("./images/emeli-one.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #000000;
}
.main-title {
    padding: 60px 10%;
    position: absolute;      
    font-size: 5em;
    color: #E0A7F4;
    font-family: "SedgwickAveDisplay Regular", Cursive, serif;

}