@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@font-face {
    font-family: "SedgwickAveDisplay Regular";
    src: url(fonts/SedgwickAveDisplay-Regular.ttf); format: ("truetype");
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
}
.landing-page-image {
    height: 100vh;
    background-image: url("./images/emeli-one.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #000000;
}
.main-title {
    padding: 60px 10%;
    position: absolute;      
    font-size: 5em;
    color: #E0A7F4;
    font-family: "SedgwickAveDisplay Regular", cursive, serif;
}
h1 {
    padding: 30px 0;
    text-align: center;
    font-size: 3rem;
    font-family: 'Rubik Dirt', cursive;
    background-color: #F9F5DE;
}
.emeli-photo {
    display: flex;
    align-items: center;
}
.emeli-photo img {
    border: 8px solid #000;
}
.emeli-information {
    padding: 30px;
    width: 50%;
}
.emeli-information p {
    padding: 30px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bold;
    border-radius: 25px;
    background-color: #D57078;
}
@media only screen and (max-width: 1500px) {
    .emeli-photo {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .emeli-information {
        padding: 50px 50px;
        width: 100%;
    }    
}
.second-container {
    background-color: #34393F;
}
h3 {
    padding: 30px;
    margin-bottom: 50px;
    font-size: 3rem;
    font-family: 'Rubik Dirt', cursive;
    background-color: #F9F5DE;
    text-align: center;
}
.song-list-container {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #FFF;
    font-family: 'Poppins', Arial, sans-serif;
}
@media only screen and (max-width: 681px) {
    .song-list-container {
        display: flex;
        flex-direction: column;
    }
}
.song-list-title {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: #D57078;
}
.song-list {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: #71B7A3;
}