@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@font-face {
    font-family: 'friends';
    src: url(fonts/GABRWFFR.TTF); format: ("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
}
.top-navigation-bar {
    display: flex;  
    justify-content: space-evenly;       
}
@media only screen and (max-width: 800px) {
    .top-navigation-bar {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.top-navigation-bar a {
    color: #070707;
    font-size: 1.3em;
    font-family: 'friends', Arial, sans-serif;
    text-decoration: none;
}
.landing-section {
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.landing-section {
    font-family: 'Caveat', cursive, sans-serif;
}
.first-container {
    margin: 60px 0;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 25px;
    background: #C7C7C7;
}
.second-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363232;
}
h2 {
    margin: 0 0 30px 0;
    font-size: 3em;
    color: #FDFDFD;
    font-family: 'Russo One', sans-serif;
    text-align: center;
}
.information-container {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 25px;
    background-color: #FC484C;
}
.container-background2 {
    background-color: #08ADE7;
}
.container-background3 {
    background-color: #E8C74E;
}
h3 {
    margin: 0 0 30px;
    font-size: 2em;
    font-family: 'friends', Arial, sans-serif;
    text-align: center;
}
p {
    font-size: 1.2em;
    font-family: Arial, Verdana, sans-serif;
}
q {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
}
.image-container {
    margin: 30px 0;
}
.bottom-navigation {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1em;
    color: #070707;
    background-color: #C7C7C7;    
}
.bottom-navigation a {
    color: #070707;
    font-size: 1.2em;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
}